{{#if beersFromApi}}
  
  <ul class="beerUl">
    {{#each beersFromApi}}
      <li><img class="beerImg" src={{this.image_url}}/></li>
      <li class="beerName">{{this.name}}</li>
      <li class="beerTagline">{{this.tagline}}</li>      
      <li class="beerDescip">{{this.description}}</li>
    {{/each}}
  </ul>
  
{{/if}}